<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- MemberDAO 빈 등록 -->
	<bean id="memberDAO" class="chapter02.MemberDAO"></bean>
	
	<!-- MemberService 빈 등록 -->
	<bean id="memberService" class="chapter02.MemberServiceImpl">
		<!-- MemberDAO 빈을 주입 -->
		<property name="memberDao" ref="memberDAO"></property>
	</bean>	
</beans>
